In [9]:
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
movement = pd.read_excel('data.xlsx', index_col=0)

In [12]:
movement.head()

,0,10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180
Ind./Min.,,,,,,,,,,,,,,,,,,,
1,N13,E13,A11,D4,L15,M14,M14,M14,G1,)12,C13,M10,J16,F16,B4,P10,O12,G3,H16
2,K15,F16,O1,D11,I16,I1,J1,L15,A11,J9,L15,H14,H1,B5,B5,N5,B5,C13,C14
3,A8,B4,J16,O8,N13,C14,K15,M14,E13,A8,A8,H14,C15,D15,C15,N4,H1,I1,N13
4,B6,P10,F4,M14,C13,A11,O13,M14,A11,O8,B3,H1,B5,K5,L15,L15,M14,C13,P9
5,P9,O12,N13,N13,E13,A11,D4,M14,D4,I16,K2,B5,N5,N5,P8,I1,G3,K2,B6

In [14]:
movement.head(2)

,0,10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180
Ind./Min.,,,,,,,,,,,,,,,,,,,
1,N13,E13,A11,D4,L15,M14,M14,M14,G1,)12,C13,M10,J16,F16,B4,P10,O12,G3,H16
2,K15,F16,O1,D11,I16,I1,J1,L15,A11,J9,L15,H14,H1,B5,B5,N5,B5,C13,C14

movement.dtypes()

In [15]:
movement.dtypes

0      object
10     object
20     object
30     object
40     object
50     object
60     object
70     object
80     object
90     object
100    object
110    object
120    object
130    object
140    object
150    object
160    object
170    object
180    object
dtype: object

In [16]:
movement.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 1 to 5
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      object
 1   10      5 non-null      object
 2   20      5 non-null      object
 3   30      5 non-null      object
 4   40      5 non-null      object
 5   50      5 non-null      object
 6   60      5 non-null      object
 7   70      5 non-null      object
 8   80      5 non-null      object
 9   90      5 non-null      object
 10  100     5 non-null      object
 11  110     5 non-null      object
 12  120     5 non-null      object
 13  130     5 non-null      object
 14  140     5 non-null      object
 15  150     5 non-null      object
 16  160     5 non-null      object
 17  170     5 non-null      object
 18  180     5 non-null      object
dtypes: object(19)
memory usage: 420.0+ bytes